<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 
<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<!-- Set the page to the width of the device and set the zoom level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<meta name="description" content="Find places that are truly rewarding in your local area">
<meta name="author" content="Kyle Wong">

<title>Hidden Gems</title>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
      href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="script.js"></script>

</head>


<body>
	<nav class="my-navbar navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
 		   <div class="navbar-header">
   		 	  <a class="navbar-brand" href="/">
   		 	  	<!--<img src="-->
   		 	  HiddenGems</a>
    		</div>
    		<ul class="nav navbar-nav navbar-right">
    		  <li><a href="/map" class="button">Map</a></li>
    		  <li><a href="/profile" class="button">Profile</a></li>
    		</ul>
		</div>
	</nav>
</body>
</html>