<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 
<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<!-- Set the page to the width of the device and set the zoom level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<meta name="description" content="Find places that are truly rewarding in your local area">
<meta name="author" content="Kyle Wong">

<title>Hidden Gems</title>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto|Josefin+Sans|Droid+Sans|Ubuntu|Montserrat|Vollkorn">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<body>
	<nav class="my-navbar navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
 		   <div class="navbar-header">
   		 	  <a class="navbar-brand" href="/">
   		 	  	<!--<img src="-->
   		 	  HiddenGems</a>
    		</div>
    		<ul class="nav navbar-nav navbar-right">
    		  <li><a href="/map" class="button">Map</a></li>
    		  <li><a href="/profile" class="button">Profile</a></li>
    		</ul>
		</div>
	</nav>
	<h1 class ="title">Hidden Gems</h1>
	<div>
		<p class = "info">
			Need to know the best locations around you? Hidden Gems is an interactive map that shows the top rated locations in an area. Ratings are based on user input, and the top locations will pop up on the map depending on the scale. Each scale of the map has a threshold for ratings which allows only the highest-rated locations to be visible. This project was created at the UCLA Hack on the Hill on November 12, 2017.
		</p>
	</div>
</body>
</html>