<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- If IE use the latest rendering engine -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Set the page to the width of the device and set the zoom level -->
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<meta name="description" content="Find places that are truly rewarding in your local area">
	<meta name="author" content="Kyle Wong">

	<title>Hidden Gems</title>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto|Josefin+Sans|Droid+Sans|Ubuntu|Montserrat|Vollkorn|Trebuchet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<style>
		#map {
        	height: 400px;
        	width: 70%;
        	margin: auto;
    	}
  </style>
  <link rel="shortcut icon" href="img/logo.ico" />
</head>


<body>
	<nav class="my-navbar navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
 		   <div class="navbar-header">
   		 	  <a class="navbar-brand" href="/">
   		 	  	<img src="img/logo.png" class="pic">
          </a>
    		</div>
    		<ul class="nav navbar-nav navbar-right">
    		  <li><a href="/map" class="button">Map</a></li>
    		  <li><a href="/profile" class="button">Profile</a></li>
    		</ul>
		</div>
	</nav>
	<h1 class="map-title">Points of Interest</h1>
	<div id="map"></div>
	<div class="poi">
		<p class="poi-text" id="poi-name"></p>
		<p class="poi-text" id="poi-rating"></p>
		<p class="poi-text" id="poi-reviews"></p>
		<p class="poi-text" id="poi-address"></p>
		<p class="poi-text" id="poi-coordinates"></p><br>

		<p id="instruction">Click on a red marker in the map above to discover the hidden gems!</p>

		<p id="divline" style="visibility: hidden">==============================</p>
		<p id="rate-stat" style="visibility: hidden">What do you think of this place? Rate it below!</p>
		<div class="rate-buttons">
			<button class="rbutton" id="star1" style="visibility: hidden;">1</button>
	      	<button class="rbutton" id="star2" style="visibility: hidden;">2</button>
	     	<button class="rbutton" id="star3" style="visibility: hidden;">3</button>
	      	<button class="rbutton" id="star4" style="visibility: hidden;">4</button>
	      	<button class="rbutton" id="star5" style="visibility: hidden;">5</button>
      	</div>
      	<p id="feedback" style="visibility: hidden">Thanks for the feedback!</p>
	</div>

	<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
	<script>
		// Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyAy6xB9KvplggjQUNA1Bk28M4adiDeOn8Y",
	    authDomain: "hiddengems-185818.firebaseapp.com",
	    databaseURL: "https://hiddengems-185818.firebaseio.com",
	    // projectId: "hiddengems-185818",
	    storageBucket: "",
	    messagingSenderId: "865980313875"
	  };
	  firebase.initializeApp(config);
	  var database = firebase.database();

      var map;
      var markers = [];
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: new google.maps.LatLng(34.0689,-118.4452),
          // mapTypeId: 'terrain'
        });

        // Create a <script> tag and set the USGS URL as the source.
        // var script = document.createElement('script');
        // This example uses a local copy of the GeoJSON stored at
        // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp
        // script.src = 'js/poi.js';
        // document.getElementsByTagName('head')[0].appendChild(script);
      }
      /*
      function renderInfo(e) {
      	document.getElementById("poi-name").innerHTML = "Name: " + marker.name;
      }
      */

      var lookup = "";

      function renderInfo(marker, name, rating, reviews, address, latitude, longitude) {
      	marker.addListener('click', ()=> {
      		lookup = name;
      		rating = Math.round(rating * 100) / 100;
      		var elem1 = document.getElementById("star1");
      		elem1.style.visibility = "visible";
      		var elem2 = document.getElementById("star2");
      		elem2.style.visibility = "visible";
      		var elem3 = document.getElementById("star3");
      		elem3.style.visibility = "visible";
      		var elem4 = document.getElementById("star4");
      		elem4.style.visibility = "visible";
      		var elem5 = document.getElementById("star5");
      		elem5.style.visibility = "visible";
      		var divliner = document.getElementById("divline");
      		divliner.style.visibility = "visible";
      		var rateStat = document.getElementById("rate-stat");
      		rateStat.style.visibility = "visible";
      		var feed = document.getElementById("feedback");
      		feed.style.visibility = "hidden";
      		if(document.getElementById("instruction")) 
      			document.getElementById("instruction").remove();
	      	document.getElementById("poi-name").innerHTML = "Name: " + name;
	      	document.getElementById("poi-rating").innerHTML = "Rating: " + rating;
	      	document.getElementById("poi-reviews").innerHTML = "Reviews: " + reviews;
	      	document.getElementById("poi-address").innerHTML = "Address: " + address;
	      	let coordinates = latitude + ", " + longitude;
	      	document.getElementById("poi-coordinates").innerHTML = "Coordinates: " + coordinates;
	    });
      }

      // var addr = database.ref("/features").once('value').then(function(s){
      		// console.log(s.val());
      // });

/*
      database.ref('/features/' + 0 + '/address').once('value').then(function(s) {
      	console.log(s.val());
      });
      */

      // firebase
      database.ref('/features/').once('value', function(snapshot) {
  		snapshot.forEach(function(childSnapshot) {
	      var childKey = childSnapshot.key;
	      // console.log("Child key", childKey);
	      var childData = childSnapshot.val();
	      // console.log(childData);
	      var coords = childData.coordinates;
          var POIname = childData.name;
          var POIrating = childData.rating;
          var POIreviews = childData.reviews;
          var POIaddress = childData.address;
          var POIlatitude = coords.x;
          var POIlongitude = coords.y;
          var latLng = new google.maps.LatLng(POIlatitude, POIlongitude);
          var marker = new google.maps.Marker({
          	position: latLng,
	        map: map,
	        rating: POIrating,
	        reviews: POIreviews,
	      });
	      renderInfo(marker, POIname, POIrating, POIreviews, POIaddress, POIlatitude, POIlongitude);
	      if(POIname !== undefined && POIrating !== undefined && POIreviews !== undefined && POIaddress !== undefined && POIlatitude !== undefined && POIlongitude !== undefined)
          	markers.push(marker);
        });
        // depending on rating, change which markers you would like to show
        google.maps.event.addListener(map, 'zoom_changed', () => {
        	var zoom = map.getZoom();
	        for(var i = 0; i < markers.length; i++) {
	        	var rating = markers[i].rating;
	        	var reviews = markers[i].reviews;
	        	if(zoom < 7)
	        		markers[i].setVisible(false);
	        	else if(zoom < 10)
	        		markers[i].setVisible(reviews > 1000000);
	        	else if(zoom < 13)
	        		markers[i].setVisible(rating >= 4.85);
	        	else if(zoom < 15)
	        		markers[i].setVisible((rating >= 4.6 || reviews > 50000));
	        	else if(zoom === 15)
	        		markers[i].setVisible((rating >= 4.3 || reviews > 2000));
	        	else if(zoom === 16)
	        		markers[i].setVisible(rating >= 4.0);
	        	else if(zoom === 17)
	        		markers[i].setVisible(rating >= 3.65);
	        	else if(zoom === 18)
	        		markers[i].setVisible(rating >= 3.2);
	        	else if(zoom === 19)
	        		markers[i].setVisible(rating >= 2.8);
	        	else if(zoom >= 20)
	        		markers[i].setVisible(true);
	        	if(markers[i].reviews <= 2)
	        		markers[i].setVisible(zoom >= 16);
	        }
      	});
	  });

	  // update database fields in terms of reviews and rating 
	  var index = 0;
	  document.getElementById("star5").addEventListener("click", function(){
	  	index = 0;
	  	var elem1 = document.getElementById("star1");
      	elem1.style.visibility = "hidden";
      	var elem2 = document.getElementById("star2");
      	elem2.style.visibility = "hidden";
      	var elem3 = document.getElementById("star3");
      	elem3.style.visibility = "hidden";
      	var elem4 = document.getElementById("star4");
      	elem4.style.visibility = "hidden";
      	var elem5 = document.getElementById("star5");
      	elem5.style.visibility = "hidden";
      	var feed = document.getElementById("feedback");
      	feed.style.visibility = "visible";
    	database.ref('/features/').once('value', function(snapshot) {
    		snapshot.forEach(function(childSnapshot) {
    			var childKey = childSnapshot.key;
    			var childData = childSnapshot.val();
    			var POIname = childData.name;
    			if(POIname === lookup) {
    				// update database rating
    				var prevReviews = childData.reviews;
    				var prevRating = childData.rating;
    				var newReviews = prevReviews + 1;
    				var newRating = (prevRating * prevReviews + 5) / newReviews;
    				var data = {
    					name: childData.name,
    					address: childData.address,
    					coordinates: childData.coordinates,
    					reviews: newReviews,
    					rating: newRating
    				};
    				var updates = {};
    				updates['/features/' + index] = data;
    				database.ref().update(updates);
    				return;
    			}
    			index++;
    		});
    	});
	  });
	  document.getElementById("star4").addEventListener("click", function(){
	  	index = 0;
	  	var elem1 = document.getElementById("star1");
      	elem1.style.visibility = "hidden";
      	var elem2 = document.getElementById("star2");
      	elem2.style.visibility = "hidden";
      	var elem3 = document.getElementById("star3");
      	elem3.style.visibility = "hidden";
      	var elem4 = document.getElementById("star4");
      	elem4.style.visibility = "hidden";
      	var elem5 = document.getElementById("star5");
      	elem5.style.visibility = "hidden";
      	var feed = document.getElementById("feedback");
      	feed.style.visibility = "visible";
    	database.ref('/features/').once('value', function(snapshot) {
    		snapshot.forEach(function(childSnapshot) {
    			var childKey = childSnapshot.key;
    			var childData = childSnapshot.val();
    			var POIname = childData.name;
    			if(POIname === lookup) {
    				// update database rating
    				var prevReviews = childData.reviews;
    				var prevRating = childData.rating;
    				var newReviews = prevReviews + 1;
    				var newRating = (prevRating * prevReviews + 4) / newReviews;
    				var data = {
    					name: childData.name,
    					address: childData.address,
    					coordinates: childData.coordinates,
    					reviews: newReviews,
    					rating: newRating
    				};
    				var updates = {};
    				updates['/features/' + index] = data;
    				database.ref().update(updates);
    				return;
    			}
    			index++;
    		});
    	});
	  });
	  document.getElementById("star3").addEventListener("click", function(){
	  	index = 0;
	  	var elem1 = document.getElementById("star1");
      	elem1.style.visibility = "hidden";
      	var elem2 = document.getElementById("star2");
      	elem2.style.visibility = "hidden";
      	var elem3 = document.getElementById("star3");
      	elem3.style.visibility = "hidden";
      	var elem4 = document.getElementById("star4");
      	elem4.style.visibility = "hidden";
      	var elem5 = document.getElementById("star5");
      	elem5.style.visibility = "hidden";
      	var feed = document.getElementById("feedback");
      	feed.style.visibility = "visible";
    	database.ref('/features/').once('value', function(snapshot) {
    		snapshot.forEach(function(childSnapshot) {
    			var childKey = childSnapshot.key;
    			var childData = childSnapshot.val();
    			var POIname = childData.name;
    			if(POIname === lookup) {
    				// update database rating
    				var prevReviews = childData.reviews;
    				var prevRating = childData.rating;
    				var newReviews = prevReviews + 1;
    				var newRating = (prevRating * prevReviews + 3) / newReviews;
    				var data = {
    					name: childData.name,
    					address: childData.address,
    					coordinates: childData.coordinates,
    					reviews: newReviews,
    					rating: newRating
    				};
    				var updates = {};
    				updates['/features/' + index] = data;
    				database.ref().update(updates);
    				return;
    			}
    			index++;
    		});
    	});
	  });
	  document.getElementById("star2").addEventListener("click", function(){
	  	index = 0;
	  	var elem1 = document.getElementById("star1");
      	elem1.style.visibility = "hidden";
      	var elem2 = document.getElementById("star2");
      	elem2.style.visibility = "hidden";
      	var elem3 = document.getElementById("star3");
      	elem3.style.visibility = "hidden";
      	var elem4 = document.getElementById("star4");
      	elem4.style.visibility = "hidden";
      	var elem5 = document.getElementById("star5");
      	elem5.style.visibility = "hidden";
      	var feed = document.getElementById("feedback");
      	feed.style.visibility = "visible";
    	database.ref('/features/').once('value', function(snapshot) {
    		snapshot.forEach(function(childSnapshot) {
    			var childKey = childSnapshot.key;
    			var childData = childSnapshot.val();
    			var POIname = childData.name;
    			if(POIname === lookup) {
    				// update database rating
    				var prevReviews = childData.reviews;
    				var prevRating = childData.rating;
    				var newReviews = prevReviews + 1;
    				var newRating = (prevRating * prevReviews + 2) / newReviews;
    				var data = {
    					name: childData.name,
    					address: childData.address,
    					coordinates: childData.coordinates,
    					reviews: newReviews,
    					rating: newRating
    				};
    				var updates = {};
    				updates['/features/' + index] = data;
    				database.ref().update(updates);
    				return;
    			}
    			index++;
    		});
    	});
	  });
	  document.getElementById("star1").addEventListener("click", function(){
	  	index = 0;
	  	var elem1 = document.getElementById("star1");
      	elem1.style.visibility = "hidden";
      	var elem2 = document.getElementById("star2");
      	elem2.style.visibility = "hidden";
      	var elem3 = document.getElementById("star3");
      	elem3.style.visibility = "hidden";
      	var elem4 = document.getElementById("star4");
      	elem4.style.visibility = "hidden";
      	var elem5 = document.getElementById("star5");
      	elem5.style.visibility = "hidden";
      	var feed = document.getElementById("feedback");
      	feed.style.visibility = "visible";
    	database.ref('/features/').once('value', function(snapshot) {
    		snapshot.forEach(function(childSnapshot) {
    			var childKey = childSnapshot.key;
    			var childData = childSnapshot.val();
    			var POIname = childData.name;
    			if(POIname === lookup) {
    				// update database rating
    				var prevReviews = childData.reviews;
    				var prevRating = childData.rating;
    				var newReviews = prevReviews + 1;
    				var newRating = (prevRating * prevReviews + 1) / newReviews;
    				var data = {
    					name: childData.name,
    					address: childData.address,
    					coordinates: childData.coordinates,
    					reviews: newReviews,
    					rating: newRating
    				};
    				var updates = {};
    				updates['/features/' + index] = data;
    				database.ref().update(updates);
    				return;
    			}
    			index++;
    		});
    	});
	  });

    </script>
	
    <script async defer
  		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6gdpUvwoJeHyCvbCmhEpwnm0nwKZW6Vc&callback=initMap">
	</script>
</body>
</html>

