body {
	margin-top: 25px;
	padding: 20px;
}

#profile-title {
	text-align: center;
}

#profile-main{
	padding: 20px; 
}

#profile-feed{
	padding: 20px; 
}

.lvr {
    border-left = 2px solid white;
}

.profile-content {
	border-radius: 25px;
    background: #ffffff;
    padding: 20px; 

}