body{
	background-image: url("../img/1.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: scroll;
	background-color: transparent;
	
}

h1{
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	margin-top: 80px;
}

p{
	color: white;
	text-align: center;
	vertical-align: middle;
	margin-left: 90px;
	margin-right: 90px;
	margin-top: 50px;
}

