.navbar-brand {
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding-top: 25px;
	padding-left: 50px;
	font-size: 1.5em;
}

.my-navbar {
	height: 10%;
	font-size: 2em;
}

.active {
	
}

.navbar-nav {
	padding-top: 10px;
	padding-right: 25px;
}