.navbar-brand {
	font-family: "Montserrat", sans-serif;
	padding-top: 25px;
	padding-left: 50px;
	font-size: 1.5em;
}

.my-navbar {
	height: 9%;
	font-size: 2em;
}

.active {
	
}

.navbar-nav {
	padding-top: 10px;
	padding-right: 25px;
}

body{
	background-image: url("../img/4.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-color: transparent;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 50px;
	padding: 20px;
}

.title{
	color: black;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	font-size: 100px;
	margin-top: 160px;
	font-family: "Montserrat";

}

.info{
	color: black;
	text-align: center;
	vertical-align: middle;
	margin-left: 90px;
	margin-right: 90px;
	margin-top: 50px;
	font-size: 20px;
	font-family: "Vollkorn";
}

.map-title {
	text-align: center;
	color: #000000;
	font-size: 32;
	font-family: "Montserrat";
}

.poi {
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
	width: 70%;
	background-color: #ffffff;
}

.poi-text {
	margin-top: -10px;
	font-size: 16px;
	font-family: "Montserrat";
}
